<div class="container-fluid">
  <form action="">
    <table class="table">
      <tbody>
      <tr *ngFor="let key of tableConfig.headers">
        <td><label class="col-form-label">{{key.label}}</label></td>
        <td>
          <input *ngIf="key.type != 'select'; else typeSelect" type="{{key.type}}" class="form-control">
          <ng-template #typeSelect>
            <select class="form-select">
              <ng-container *ngIf="tipologia == 'utente'; else autoBlock">
                <option *ngFor="let item of inMemoryItems" value="{{item}}">{{item.ruolo}}</option>
              </ng-container>
              <ng-template #autoBlock>
                <option *ngFor="let item of inMemoryItems" value="{{item}}">{{item.categoria}}</option>
              </ng-template>
            </select>
          </ng-template>
        </td>

      </tr>
      <tr>
        <td><label></label></td>
        <td>
          <input type="submit" id="btnSave" class="btn btn-primary" value="Save"/>
          <button type="button" class="btn btn-danger" onclick="history.back()">Back</button>
        </td>
      </tr>
      <!--<tr>
        <td><label for="username" class="col-form-label">Username</label></td>
        <td><input id="username" path="ssoId" type="text" class="form-control" value=""/></td>
      </tr>
      <tr>
        <td><label for="password" class="col-form-label">Password</label></td>
        <td><input id="password" path="password" type="password" class="form-control" value=""/></td>
      </tr>
      <tr>
        <td><label class="col-form-label" for="nome">Nome</label></td>
        <td><input id="nome" path="nome" type="text" class="form-control" value=""/></td>
      </tr>
      <tr>
        <td><label class="col-form-label" for="cognome">Cognome</label></td>
        <td><input id="cognome" path="cognome" type="text" class="form-control" value=""/></td>
      </tr>
      <tr>
        <td><label class="col-form-label" for="datadinascita">Data di nascita</label></td>

        <fmt:formatDate value="${updateUtente.datadinascita}" var="dateString" pattern="yyyy-MM-dd" />
        <td><form:input id="datadinascita" path="datadinascita" type="date" class="form-control" value="${dateString}"/></td>
      </tr>

      <tr>
        <td><label class="col-form-label" for="ruolo">Ruolo</label></td>
        <td>
          <form:select id="ruolo" path="ruolo" class="form-select">
            <c:forEach items="${listaRuoli}" var="ruoli" varStatus="status">
              <c:choose>
                <c:when test="${ruoli.ruolo eq updateUtente.ruolo.ruolo}">
                  <option value="${ruoli.ruolo}" selected="selected">${ruoli.ruolo}</option>
                </c:when>
                <c:otherwise>
                  <option value="${ruoli.ruolo}">${ruoli.ruolo}</option>
                </c:otherwise>
              </c:choose>
            </c:forEach>
          </form:select>
        </td>
      </tr>

      <tr>
        <td><label></label></td>
        <td>
          <input type="submit" id="btnSave" class="btn btn-primary" value="Save"/>
          <button type="button" class="btn btn-danger" onclick="history.back()">Back</button>
        </td>
      </tr>-->
      </tbody>
    </table>
  </form>
</div>
