<div class="container-fluid">
  <form #myForm = "ngForm" (ngSubmit)="add(myForm.value)">
    <table class="table">
      <tbody>
      <tr *ngFor="let key of tableConfig.headers">
        <td><label class="col-form-label">{{key.label}}</label></td>
        <td>
          <input *ngIf="key.type != 'select'; else typeSelect" type="{{key.type}}" class="form-control" name="{{key.label}}" ngModel>
          <ng-template #typeSelect>
            <select class="form-select" name="{{key.label}}" ngModel="">
              <ng-container *ngIf="tipologia == 'utente'; else autoBlock">
                <option *ngFor="let item of inMemoryItems" value="{{item}}">{{item.ruolo}}</option>
              </ng-container>
              <ng-template #autoBlock>
                <option *ngFor="let item of inMemoryItems" value="{{item}}">{{item.categoria}}</option>
              </ng-template>
            </select>
          </ng-template>
        </td>

      </tr>
      <tr>
        <td><label></label></td>
        <td>
          <input type="submit" id="btnSave" class="btn btn-primary"/>
          <button type="button" class="btn btn-danger" onclick="history.back()">Back</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
