<div class="container-fluid">
  <form #myForm = "ngForm" (ngSubmit)="add(myForm.value)">
    <table class="table">
      <tbody>
      <tr *ngFor="let key of tableConfig.headers">
        <td><label class="col-form-label">{{key.label}}</label></td>
        <td>
          <ng-container *ngIf="item; else addBlock">
            <input *ngIf="key.type != 'select' && key.type != 'checkbox';" type="{{key.type}}" class="form-control" name="{{key.key}}" [(ngModel)]="item[key.key]">
            <ng-container *ngIf="key.type == 'select';">
              <ng-container *ngIf="tipologia == 'utente';">
                <select class="form-select" name="{{key.label}}" ngModel="{{item.ruolo.id}}">
                  <option *ngFor="let ruolo of inMemoryItems" [value]="ruolo.id" [selected]="ruolo.ruolo === item[key.key].ruolo">{{ruolo.ruolo}}</option>
                </select>
              </ng-container>
              <ng-container *ngIf="tipologia == 'auto';">
                <select class="form-select" name="{{key.label}}" ngModel="{{item.categoria.id}}">
                  <option *ngFor="let categoria of inMemoryItems" [value]="categoria.id" [selected]="categoria.categoria === item[key.key].categoria">{{categoria.categoria}}</option>
                </select>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="key.type == 'checkbox';">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" disabled checked *ngIf="item[key.key] == true">
                <input class="form-check-input" type="checkbox" disabled *ngIf="item[key.key] == false">
                <label class="form-check-label"> {{item[key.key]}}</label>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #addBlock>
            <input *ngIf="key.type != 'select'; else typeSelect" type="{{key.type}}" class="form-control" name="{{key.label}}" ngModel>
            <ng-template #typeSelect>
              <select class="form-select" name="{{key.label}}" ngModel="">
                <ng-container *ngIf="tipologia == 'utente';">
                  <option *ngFor="let item of inMemoryItems" value="{{item.id}}">{{item.ruolo}}</option>
                </ng-container>
                <ng-container *ngIf="tipologia == 'auto';">
                  <option *ngFor="let item of inMemoryItems" value="{{item.id}}">{{item.categoria}}</option>
                </ng-container>
              </select>
            </ng-template>
          </ng-template>

        </td>

      </tr>
      <tr>
        <td><label></label></td>
        <td>
          <input type="submit" id="btnSave" class="btn btn-primary"/>
          <button type="button" class="btn btn-danger" onclick="history.back()">Back</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
