<div class="form-group mt-3">
  <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
</div>

<table class="table table-bordered mt-3">
  <thead class="thead-dark">
  <tr>
    <th class="clickable" *ngFor="let key of tableConfig.headers" (click)="orderBy(key.label)">
      {{key.label}}
      <ng-container *ngIf="orderType; else elseBlock">
        <fa-icon [icon]="faSortDown" class="align-items-center"></fa-icon>
      </ng-container>
      <ng-template #elseBlock>
        <fa-icon [icon]="faSortUp" class="align-items-center"></fa-icon>
      </ng-template>
    </th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of filteredList | filter:searchedKeyword | pagination:currentPage:itemPerPage" class="clickable">
    <td *ngFor="let header of tableConfig.headers">
      {{item[header.key]}}
    </td>
    <td>
      <button *ngFor="let actions of tableConfig.actions" class="{{actions.customCssClass}} mr-1" (click)="doAction(actions.action, item)">
        <i class="{{actions.icon}}"></i>
        {{actions.label}}
      </button>
    </td>
  </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example" id="paginator" class="mt-3">
  <ul class="pagination justify-content-center">
    <a class="page-link clickable" *ngIf="active>0; else elsePrev" (click)="active = active - 1">
      <li ><i class="bi bi-caret-left-fill"></i></li>
    </a>
    <ng-template #elsePrev>
      <a class="page-link clickable">
        <li ><i class="bi bi-caret-left-fill"></i></li>
      </a>
    </ng-template>

    <a class="page-link clickable" *ngFor="let el of pages" [ngClass]="{'active' : active == el}" (click)="active = el">
      <li >{{el+1}}</li>
    </a>

    <a class="page-link clickable" *ngIf="active<(pages.length-1); else elseNext" (click)="active = active + 1">
      <li ><i class="bi bi-caret-right-fill"></i></li>
    </a>
    <ng-template #elseNext>
      <a class="page-link clickable">
        <li ><i class="bi bi-caret-right-fill"></i></li>
      </a>
    </ng-template>
  </ul>
</nav>

<select class="form-select mt-3" [ngModel]="itemPerPage" (ngModelChange)="viewItems($event)">
  <option *ngFor="let item of tableConfig.pagination.itemPerPageOptions" value="{{item}}">{{item}}</option>
</select>
